@import "../bootstrap/scss/bootstrap";

.dropdown-menu > a.dropdown-item {
	color: #333333;
}

.dropdown-menu > a.dropdown-item:hover {
	background: #333333;
	color: #ffffff;
}

li.dropdown a, li.dropdown li a:visited {
  color: #000;
}

.page {
  padding: 25px 0 75px 0;
}

h2 {
	margin: 25px 0;
}


.footer-background {
	background-image: url(../img/aspencreek-symbol_grey.png);
	background-repeat: no-repeat;
	background-position: center;
}

.footer-background > a {
	text-decoration: underline;
}
