@import "../bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2|Josefin+Sans:100i,300,400,500,700|Raleway&display=swap');

body {
	font-size: 1.35rem;
	font-family: 'Raleway', sans-serif;
	line-height: 2rem;
	font-weight: 400;
}

/******** color palette **********/
$dark-blue: #213c60;
$light-blue: #81b7e3;
$dark-grey: #48484a;
$light-grey: #c7c8ca;
$white: #ffffff;
$off-white: #f8f8f8;
$black: #121212;

.text-dark-blue { color: $dark-blue; }
.text-light-blue { color: $light-blue; }
.text-dark-grey { color: $dark-grey; }
.text-light-grey { color: $light-grey; }
.text-white { color: $white; }

/******** /color palette **********/

.btn-primary {
	background: $light-blue;
	border: none;
}

.btn-primary:hover {
	background: $dark-blue;
}


.text-6 { font-size: 0.6rem; }
.text-8 { font-size: 0.8rem; }
.text-10 { font-size: 1.0rem; }
.text-12 { font-size: 1.2rem; }
.text-14 { font-size: 1.4rem; }
.text-16 { font-size: 1.6rem; }
.text-18 { font-size: 1.8rem; }
.text-20 { font-size: 2.0rem; }
.text-22 { font-size: 2.2rem; }
.text-24 { font-size: 2.4rem; }
.text-26 { font-size: 2.6rem; }
.text-28 { font-size: 2.8rem; }
.text-30 { font-size: 3.0rem; }
.text-32 { font-size: 3.2rem; }

.text-strong { font-weight: bold; }



/******* COVID-19 message **********/

#covid-19-message {
	a {
		width: 100%;
		height: 100%;
	}
}

.container {
	margin: 1rem auto 5rem auto;
}

img {
	padding: 0.5rem 1rem;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4rem;
	margin: 2rem 0;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.5rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.4rem;
	margin: 0.5rem 0;
	font-family: 'Josefin Sans', sans-serif;
}

h2, h3, h4, h5 {
	margin: 2rem 0 0.75rem 0;
	font-family: 'Josefin Sans', sans-serif;
}

.dropdown-menu > a.dropdown-item {
	color: $dark-grey;
}

.dropdown-menu > a.dropdown-item:hover {
	background: $dark-grey;
	color: $white;
}

li.dropdown a, li.dropdown li a:visited {
  color: $black;
}

h2 {
	margin: 25px 0;
}


/***************** Multi-use classes **************/

.text-shadow {
	text-shadow: $black 1px 1px;
}




/************** All public pages ******************/
header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
  z-index: 11;
}

header .bg-light {
	 background-color: rgb(255, 255, 255) !important;
	 padding-top: 0;
	 padding-bottom: 0;
}
header .navbar-expand-md .navbar-nav .nav-link {
	padding: 1.67rem 1.8rem;
	font-size: 16px;
	font-weight: 400;
	color: $black;
	transition: all 0.5s ease-in-out;
	min-height: 80px;
}
header .navbar-expand-sm .navbar-nav .active .nav-link , header .navbar-expand-sm .navbar-nav .nav-link:hover , header .navbar-expand-sm .navbar-nav .nav-link:focus ,header .navbar-expand-sm .navbar-nav .nav-link:active{
	background: #e9e9e9;
}
.navbar-light .navbar-brand {
	padding: 0;
} 

header .navbar li {
	padding: 0.75rem;
}

.dropdown-menu {
	width: 16em;
}

nav {
	text-transform: uppercase;
}

a.dropdown-item, a.dropdown-item:visited {
	color: $black;
}

a.dropdown-item:hover,  {
	color: $black;

}

footer {
	width: 100%;
	background: $black;	

	.social a {
		color: $white;
	}

	.social a:hover {
		color: $white;
	}
	ul.nav {	

		a {
			text-transform: uppercase;
			color: $light-grey;	
		}
		a:hover {
			color: $white;
		}
	}	
}

.footer-background {
	background-image: url(../img/aspencreek-symbol_grey.png);
	background-repeat: no-repeat;
	background-position: center;
}

.footer-background > a {
	text-decoration: none;
}

.copyright a:hover {
	color: $light-grey;
	text-decoration: none;
}

.address-area p {
	font-weight: 500px;
	color: $white;
}


/********** Home Page *************************/
.c-slide-inner  {
	min-height: calc(100vh - 40px);
	position: relative;
	background: url('../img/hero-slider/slide-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
  	background-size: cover;
  	background-attachment: fixed;
}

.hero-slider  .slick-prev, .hero-slider   .slick-next{
	display: none !important;
}

.slick-prev {
	left: 25px;
}
.slick-next {
	right: 25px;

}

.hero-image {
	position: absolute;
	top: 50px;
	left: 0;
	height: 100%;
	width:100%;
	background: url('../img/hero-slider/slide-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
  	background-size: cover;
  	background-attachment: fixed;
}

.hero-slide-content {
	width: 100%;
	position:absolute;
	top: 50px;
	left: 0;
	height: 100%;

	p {
		font-size: 1.5rem;
		color: $black;
		font-weight: 500px;
		width: 558px;
		max-width: 100%;
	}

	a {
		font-size: 1.75rem;
	}
}


.call-to-action {
	a {
		background: url(../img/virtualTour.jpg) no-repeat 0 0;
		background-size: cover;
		opacity: 0.9;
		min-height: 350px;
		width: 100%;
		text-align: center;
		text-decoration: none;
	}

	a:hover {
		opacity: 1;
	}

	a h3 {
		width: 100%;
		color: $white;
		font-weight: 100;
	}
}

.social {
	text-align: right;
	float: right;

}

/********** End Home Page *************************/



/*********** Living with Aspen Creek page ****************/
.lwac-jumbotron {
	background-image: url('../img/time-is-valued.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;

	h1 {
		color: $white;
	}

	a {
		font-size: 1.75rem;
	}
}

.time-is-valued {
	position: relative;
	margin-top: 17rem;
	margin-left: 5rem;
}

.wellness {
	background-image: url('../img/wellness.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}

.virtual-tours {

	.col-lg-4, .col-md-6 .col-sm-12 {
		margin-bottom: 2rem;
	}

	a {
		opacity: 0.75;
	}

	a:hover {
		opacity: 1.0;
		text-decoration: none;
	}

	img {
		padding: 2rem 0;
		z-index: 0;
	}

	h5 {
		z-index: 200;
		color: $white;
		opacity: 1.0;
		text-align: center;
	}

	.text-over-image {
		width: 86%;
		margin: 7rem auto 0 auto;
		position: absolute;
		z-index: 1;
		font-size: 1.2em;
		padding: 2rem 0;
	}

	.tour-thumbnail {
		min-height: 250px;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.8;

		h5 {
			padding-top: 7rem;
			font-size: 2rem;
			font-weight: 300;
		}
	}

	.tour-thumbnail:hover {
		opacity: 1.0;
	}

	.thumbnail-1 { background-image: url('../img/vt-lobby.jpg'); }
	.thumbnail-2 { background-image: url('../img/vt-dining-room.jpg'); }
	.thumbnail-3 { background-image: url('../img/vt-discovery-center.jpg'); }
	.thumbnail-4 { background-image: url('../img/vt-salon.jpg'); }
	.thumbnail-5 { background-image: url('../img/vt-therapy-gym.jpg'); }
	.thumbnail-6 { background-image: url('../img/vt-1-studio-suite.jpg'); }
	.thumbnail-7 { background-image: url('../img/vt-1-bedroom.jpg'); }
	.thumbnail-8 { background-image: url('../img/vt-companion-suite.jpg'); }
	.thumbnail-9 { background-image: url('../img/vt-1-bedroom.jpg'); }
	.thumbnail-10 { background-image: url('../img/vt-denali-center.jpg'); }
	.thumbnail-11 { background-image: url('../img/vt-denali-theater.jpg'); }


}



/*********** End Living with Aspen Creek page ****************/


/******* FAQ Page ***********/

.card {
	button {
		font-size: 1.5rem;
		color: $dark-grey;
	}

	button:hover {
		color: $black;
		text-decoration: none;
	}
}

/******* End FAQ Page ***********/


/******* Leadership Page ***********/
.team-section {
	margin: 4rem auto;

	p {
		text-align: justify;
	}

	.card {
		margin: 0 auto;
		border-radius: 0px;
		border: 0;
	}

	.card-header:hover {
		background: $off-white;
	}

	.card-header {
		background: $white;
		border: none;
	}

	.card button {
		background: $white;
		width: 100%;
		border: none;
		text-decoration: none;
	}
}


/******* /Leadership Page ***********/



/******* Menu Page ***********/

.info-item {
	background-color: $off-white;
	padding: 2rem auto;
}

.menu-page {
	img {
		margin: 0;
		padding: 0;
	}
}



/******* /Menu Page ***********/




/******* Activities Page ***********/
.activities {
	p {
		line-height: 1.35rem;
	}
}

/******* /Activities Page ***********/




/******* Contact Page ***********/
.contact {
	a:hover {
		text-decoration: none;
	}
}

/******* /Contact Page ***********/




/******* Blog Page ***********/
.blog {
	h2 {
		margin-top: 0;
	}

	.row {
		margin: 2rem auto;
	}

	p {
		text-align: justify;
	}

}



/******* Blog Page ***********/





/*********** Responsive styles ****************/
@media(max-width: 767px){	


	.c-slide-inner {
		background-position: right bottom;
	}

	.social {
		text-align: center;
		float: left;
		margin-top: 2rem;
	}

	.logo {
		text-align: center;
	}

	.menu-page {
		img {
			margin: 0.25rem 0;
		}
}


	.team-section {

		h2 {
			font-size: 2rem;
		}

		.text-20 {
			font-size: 1rem;
		}
	}

	h1 , .form_area_guide.section h2{
		font-size: 34px;
	}
	.hero_slide_content p {
		font-size: 18px;
	}
	.c_slide_inner {
	    
	    background-position: center center !important;
	        background-position-x: center;
	        background-position-y: center;
	    background-size: cover !important;
	}
	.black-hero.btn{font-size: 20px;border:none;}
	.section {
		padding-top: 40px;
	}
	.section h2 {
		font-size: 38px;
		margin-bottom: 10px;
	}
	.has-slogan {
		font-size: 18px;
		margin-bottom: 50px;
	}
	 .call-to-action a h3, .white_shadow{
	 	font-size: 32px;
	 }
	 .service_content h4 {
	 	font-size: 24px;
	 }
	 .service_content p {
	 	font-size: 18px;
	 	line-height: 1.3em;
	 }
	 .service_content {
	 	margin-bottom: 30px;
	 }
	 .bg_experience {
	 	min-height: 210px;
	 	background-size: cover;
	 }
	 .pda-55{
	 	padding: 15px 0;
	 }
	 .banner_title_parallax p{
	 	font-size: 18px;
	 }
	 .footer_row1  , .footer_row2 , .footer_row3{
	 	padding-right: 0;
	 	padding-left: 0;
	 }
	 .footer_row2 ul li a , .footer_row2 h4, .footer_row2 h4 a {
	 	text-align: left !important;
	 	display: block;
	 }
	.footer_row2 .col-sm-6 > .d-flex:first-child {

	    flex-wrap: wrap;
	    flex-direction: column;

	}
	 header .navbar-expand-md .navbar-nav .nav-link {
	 	padding-top: 10px;
	 	padding-bottom: 10px;
	 	border-bottom: 1px solid #d9d9d9;
	 	min-height: inherit;
	 }
	 .navbar-nav {
	 	margin-top: 15px;
	 }
	 .ml-xs-0 {
	 	margin-left: 0 !important;
	 }
	 header {
	 	padding: 10px 0;

	 }
	 .navbar-collapse  {
	 	position: absolute;
	 	top: 100%;
	 	left: 0;
	 	width: 100%;
	 	background: $white;
	 }
	 .navbar{position: static;}
	 .faq_section .card-header button {
	 	font-size: 18px;
	 	padding-right: 25px;
	 }
	 .faq_section .card-header button::before {
	 	right: 0;
	 }
	 .faq_section .card-header button::after {
	 	right: -8px;
	 }
	 .faq_section .card-body , .pg-contact .section-title p , .form-group label{
	 	font-size: 18px;
	 }
	 .pg-contact .section-title p  br {display: none;}
	 .pg-contact .section-title p b{display: inline-block;width: auto;}
	 .info_area_contact h3 {font-size: 26px;}
	 .info_area_contact p, .info_area_contact p a{font-size: 18px;}
	 .info_area_contact p.icon::before {

	    position: absolute;
	    top: 3px;
	    left: 0;
	    height: 25px;
	    width: 25px;
	}
	.mt-100  {
		margin-top: 30px;
	} 
	.mb-100  {
		margin-bottom: 30px;
	} 
	.cms_content_area h3 , .section-title h3{
		font-size: 38px;
	}
	.call-to-action a h3, .white_shadow  {
		padding: 0 15px;
	}
	.cms_content_area h4 {
		font-size: 32px;
	}
	.plm-0  {
		padding-left: 0 !important;
	}
	.standards_area   .cms_content_area  {
		padding-top: 3rem;
	}
	.cms_content_area p {
		font-size: 18px;
	}
}

@media(min-width: 768px) and (max-width: 1024px){
	header .navbar-expand-md .navbar-nav .nav-link {
	 	padding-top: 10px;
	 	padding-bottom: 10px;
	 	border-bottom: 1px solid #d9d9d9;
	 	min-height: inherit;
	 }
	 .navbar-nav {
	 	margin-top: 15px;
	 }	
	 header {
	 	padding: 10px 0;

	 }
	 .navbar-collapse  {
	 	position: absolute;
	 	top: 100%;
	 	left: 0;
	 	width: 100%;
	 	background: $white;
	 }
	 .navbar{position: static;}
	 h1 , .form_area_guide.section h2{
		font-size: 64px;
	}
	.hero_slide_content p {
		font-size: 18px;
	}
	.c_slide_inner {
	    
	    background-position: center center !important;
	        background-position-x: center;
	        background-position-y: center;
	    background-size: cover !important;
	}
	.black-hero.btn{font-size: 20px;border:none;}
	.section {
		padding-top: 40px;
	}
	.footer_row2{
		padding-left: 0;
		padding-right: 0;
	}
	.call-to-action a h3, .white_shadow {
		font-size: 38px;
	}
	.plm-0 {
		padding-left: 0 !important;
	}
	.mt-100  {
		margin-top: 30px;
	} 
	.mb-100  {
		margin-bottom: 30px;
	} 
	.cms_content_area h3 , .section-title h3{
		font-size: 38px;
	}
	.call-to-action a h3, .white_shadow  {
		padding: 0 15px;
	}
	.standards_area   .cms_content_area  {
		padding-top: 3rem;
	}
	.cms_content_area p {
		font-size: 18px;
	}
	.cms_content_area h4 {
		font-size: 32px;
	}
}
