.DS_Store
protected/Compile
protected/Sass
public/index.php
protected/Configs/database.php
protected/.DS_Store
.development
public/files/
nossl-redir/index.php
.vscode/sftp.json
public/vendors/jQuery-Tags-Input/
.gitignore

