
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

app/.DS_Store
app/protected/Compile
app/public/index.php
app/protected/Configs/database.php
app/protected/.DS_Store
app/.development
app/public/files/
app/nossl-redir/index.php

admission/.DS_Store
admission/protected/.DS_Store
admission/public/.DS_Store