html {
	margin: 0;
	padding: 0;
	background: #686868;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a, a:visited {
	color: #000;
	text-decoration: none;
}

body, td, th {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 14px;
	color: #050505;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-strong { font-weight: bold; }
.text-italics { font-style: italic; }
.text-red { color: red; }
.text-green { color: green; }
.bottom { vertical-align: baseline; }

.text-10 { font-size: 10px; }
.text-11 { font-size: 11px; }
.text-12 { font-size: 12px; }
.text-14 { font-size: 14px; }
.text-16 { font-size: 16px; }
.text-18 { font-size: 18px; }
.text-20 { font-size: 20px; }


h1 {
	margin: 25px 0 5px 0;
}

h2 {
	margin: 5px 0 0 0;
}

h1, h2 {
	text-align: center;
}

table {
	max-width: 90%;
	margin: 20px auto;
	padding: 20px;
}

table.traycard {
	border-right: 1px dashed #000;
}

table.last-table {
	border-right: none;
}

table th {
	background: #c8c8c8;
	padding: 5px;
}

table td {
	padding: 6px 0;
	vertical-align: top;
}

input[type="checkbox"] {
	padding-right: 10px;
}

.traycard-column {
	width: 33%;
	float: left;
	display: inline-block;
}


.logo-footer {
	position: fixed;
	margin-top: 50px;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.page-break {
	display: block;
	page-break-before: always;
}

#meal-order-form {
	padding-top: 20px;
	clear: both;
}

#meal-order-form ul {
	list-style-type: none;
}

.meal-order-form-header {
	margin-top: 20px;
	text-align: center;
}