remote:
  host: "dev.aptitudecare.com"
  user: "aptitude"
  path: "/home/aptitude/aptitudecare_framework/framework"
behaviour:
  uploadOnSave: true
  syncDownOnOpen: true
  forgetConsole: false
  autoHideConsole: true
  alwaysSyncAll: false
option:
  deleteFiles: false
  exclude: [
    ".sync-config.cson"
    ".git"
    "node_modules"
    "tmp"
    "vendor"
  ]
